@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "gotham";
    src: url("assets/fonts/Gotham Pro Regular.ttf");
}

*{
    font-family: 'Poppins';
}
/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292929cc;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333333cc;
}
#loginBtn *{
    width: 30px;
    height: 30px;
}
.spin{
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}